#map {
      height: 600px;
    }

.trail-attribute {
    list-style-type: none;
}

.trail-attribute-spec {
    list-style-type: none;
    font-weight: bold;
}

/* Define mobile styles */
@media only screen and (max-width: 40em) {
    #map {
        height: 350px;
    }
}
